html, body {
    width: 100%;
    height: 100%;
    background: cadetblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {
    width: 30%;
    height: 40%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: gray;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid blueviolet;
    /* border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 20; */
    background: #000;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: wheat;
    /* background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;

    float: left;

}

input {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: beige;
    font-family: Montserrat;
    font-weight: 500;
    color: #000;
    font-size: 12px;

    border-bottom: 2px solid blueviolet;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    /* border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1; */
}

#button_container {
    width: 100%;
    height: 20%;

    background:cadetblue;
    color: #fff;

    float:right ;

    margin-top: 5px;
}

#button_container button {
    width: 100%;
    height: 100%;

    background: transparent;
    color: inherit;

    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}